@tailwind base;
@tailwind components;
@tailwind utilities;


@import '../../node_modules/modern-normalize/modern-normalize.css';
@import '_jungka-import.css';
@import 'variables';
@import "grid";
@import "typography";
@import "ui";


//
html {
  font-size: var(--s-font-baseline);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  font-family: 'Jungka-ForPro', sans-serif;
  line-height: 1rem;
  font-size: .85rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;

  &.app-button {
    text-decoration: none;
  }
}

.app-remove-margin-child {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}
