h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3rem;
}


.app-typo_text-content {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  ul, ol {
    counter-reset: list-number 0;

    li {
      padding-left: 1.5em;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
      }
    }
  }

  ul > li {
    &:before {
      color: var(--app-color--blue);
      content: '\2022';
    }
  }

  ol > li {
    &:before {
      color: var(--app-color--blue);
      content: counter(list-number)'.';
      counter-increment: list-number;
    }
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &.app-typo_text-content--typo-large {
    line-height: 1.5rem;
    font-size: 1.25rem;
  }
}
