a.app-button {
  text-decoration: none;
}

.app-button {
  --app-button--color:            black;
  --app-button--background-color: white;
  --app-button--border-color:     var(--app-button--color);

  border: solid 2px var(--app-button--border-color);
  line-height: 1rem;
  font-size: .85rem;
  padding: .5rem 1rem;
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  transition: transform .25s, color .25s;
  transform: scale(1);
  color: var(--app-button--color);
  background: var(--app-button--background-color);
  cursor: pointer;
  user-select: none;


  &.app-button--without-over-effect {}

  &:hover:not(.app-button--without-over-effect) {
    color: var(--app-button--background-color);
    background: var(--app-button--color);
    transform: scale(1.05);
    transition: transform .25s;

    //&:after {
    //  transform: translate(0, -100%);
    //}
  }


  &.app-button--rounded {
    border-radius: 1rem;
  }

  &.app-button--xl {
    padding: max(1rem, 2vw) max(2rem, 4vw);
    font-size: max(1rem, 2vw);
    border-radius: 10em;
  }
}

.app-list-fp-style {
  display: block;
  box-sizing: border-box;
  padding-left: 2rem;

  li {
    position: relative;
    max-width: 25rem;

    & + li {
      margin-top: 1rem;
    }

    &:before {
      content: "";
      position: absolute;
      left: -2rem;
      top: .25rem;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background: var(--app-color--blue);
      border-radius: 2rem;
      border: solid 5px;
      border-color: var(--app-color--green);
    }
  }
}
