Django==3.2.23
Pillow==7.1.2
appdirs==1.4.3
caldav==0.5.0
codegen==1.0
coverage==3.7.1
coveralls==0.5
dj-database-url==0.4.2
django-annoying==0.10.4
django-appconf==0.6
django-extensions
django-filter==0.9.1
django-grappelli==2.6.3
django-importer==0.6
django-ical==1.4.0
django-tinymce==2.7.0
django-model-utils==3.0
django-recaptcha==1.3.1
django-recurrence
django-service-objects==0.3.1
django-ses==0.8.5
django-suit==0.2.23
django-timezone-field==4.0
django-users2==0.2.1
djangorestframework==3.14.0
docutils==0.14
flake8
futures==3.1.1
gunicorn==19.7.1
icalendar==5.0.11
isort
jmespath==0.9.3
mock
olefile==0.44
packaging==20.4
pyopenssl==17.5.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2020.1
typing==3.7.4.3
vobject==0.9.6.1
radicale==1.1.1
six==1.14.
numpy==1.26.3
pandas==1.4.0
