### ROOT ================================================================================================================

.idea/*
docker/*

### WEBSITE =============================================================================================================

website/node_modules/*
.DS_Store
website/node_modules
website/build
website/.svelte-kit
website/package
website/.env
website/!.env.example
website/vite.config.js.timestamp-*
website/vite.config.ts.timestamp-*

### CMS ================================================================================================================

# Temporary files
cms/media/*
cms/!/media/index.html

# Lock files
cms/.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
cms/site/cache/*
cms/!/site/cache/index.html

# Accounts
cms/site/accounts/*
cms/!/site/accounts/index.html

# Sessions
cms/site/sessions/*
cms/!/site/sessions/index.html

# License
cms/site/config/.license

# Content
cms/content/*
