{% extends base.html %}

{% block content %}
    <section class="section page-banner" style="background: url('{{ contact.banner.url }}') repeat-x center center">
        <div class="container clearfix" style="min-height: 75px">
        </div>
    </section>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12 col-sm-12">
                    <div class="page-wrapper">

                        <div class="notfound text-center">
                            <h1>404 - Page Not Found</h1>

                            <blockquote>La page que vous recherchez n'existe plus. Peut-être que vous pouvez revenir à
                                 la page d'accueil du site et voyez si vous pouvez trouver ce que vous cherchez. Ou, vous pouvez essayer
                                 le trouver avec les informations ci-dessous.
                            </blockquote>

                            <a href="/" class="btn btn-primary">Retourner à l'acceuil</a>
                        </div>

                    </div><!-- end page-wrapper -->
                </div><!-- end content -->
            </div><!-- end row -->
        </div>
    </section>
{% endblock content %}