{% block barber_section %}
    <div class="container">
        <div class="section-title text-center">
            <h4>LES MEILLEURS A VOTRE SERVICE</h4>
            <h3>NOS BARBIERS</h3>
            <hr>
        </div><!-- end title -->
        <div class="gallery-widget text-center">
            {% for barber in barbers %}
                {% if barbers.count >= 3 %}
                    {% if forloop.counter|divisibleby:"3" %}
                        <div class="row">
                    {% endif %}
                {% else %}
                    {% if forloop.counter == 1 %}
                        <div class="row">
                    {% endif %}
                {% endif %}

            {% if is_homepage %}
                {% if barber.is_featured %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="post-media entry">
                            <img src="{{ barber.picture.url }}" class="img-responsive">
                            <div class="magnifier">
                                <div class="shop-bottom clearfix">
                                    <h4>Prochain RDV disponible</h4>
                                    <a href="#" title="Full Preview" class="btn btn-primary"></a>
                                </div>
                                <!-- end shop-bottom -->
                            </div>
                        </div>
                        <!-- end post-media -->
                        <div class="team-desc">
                            <small>BARBIER</small>
                            <h4>{{ barber.name|upper }}</h4>
                            <div class="service-small-desc">
                                <p>{{ barber.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="post-media entry">
                        <img src="{{ barber.picture.url }}" class="img-responsive">
                    </div>
                    <!-- end post-media -->
                    <div class="team-desc">
                        <small>BARBIER</small>
                        <h4>{{ barber.name|upper }}</h4>
                        <div class="service-small-desc">
                            <p>{{ barber.description }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if barbers.count >= 3 %}
                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                {% endif %}
            {% else %}
                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endif %}

            {% endfor %}
            <!-- end col -->
        </div><!-- end row -->
    </div><!-- end gallery -->
    </div>
{% endblock barber_section %}