{% extends "base.html" %}

{% load static %}

{% block body %}

    <section class="section page-banner" style="background: url('{{ blog.banner.url }}') repeat-x center center">
        <div class="container clearfix" style="min-height: 75px">
        </div>
    </section>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12 col-sm-12">
                    <div class="blog-items">
                        <div class="row">
                            {% for entry in entries %}
                                <div class="col-md-4 col-sm-12 first">
                                    <div class="blog-item">
                                        <div class="blog-desc">
                                            <div class="post-media entry">
                                                <img src="upload/big_blog_01.jpg" alt="" class="img-responsive">
                                                <div class="magnifier">
                                                    <div class="shop-bottom clearfix">
                                                        <a href="#" title="Full Preview" class="btn btn-primary"><i
                                                                class="fa fa-link"></i></a>
                                                    </div>
                                                    <!-- end shop-bottom -->
                                                </div>
                                                <!-- end magnifier -->
                                            </div>
                                            <!-- end post-media -->

                                            <h2 class="blog-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>{% if not entry.is_published %} <span class="label label-default">Draft</span>{% endif %}</h2>

                                            <div class="blog-meta">
                                                <span><a href="#"><i class="fa fa-clock-o"></i>{{ entry.published_timestamp|date:"DATE_FORMAT" }}</a></span>
                                                <span><a href="#"><i class="fa fa-user"></i>{% if entry.author %} by {{ entry.author|authordisplay }}{% endif %}</a></span>
                                                <span><a href="#"><i class="fa fa-comments"></i> 08 Replies</a></span>
                                            </div><!-- end blog-meta -->

                                            {% if entry.preview_content %}
                                                {% if entry.preview_image %}
                                                    <a href="{{ entry.get_absolute_url }}"><img src="{{ entry.preview_image.url }}" alt="Preview image for {{ entry.title }}" class="img-responsive"/></a>
                                                {% endif %}
                                                {{ entry.preview_content }}
                                            {% else %}
                                                {# Truncate derived from: Avg reading speed (3.33 words/s) * Average attention span (8s) #}
                                                {{ entry.content|truncatewords_html:26 }} <a href="{{ entry.get_absolute_url }}">(More...) {% include "andablog/comments_count_snippet.html" with comment_object=entry %}</a>
                                            {% endif %}

                                            <a class="readmore" href="{{ entry.get_absolute_url }}">Continue Reading</a>
                                        </div><!-- end blog-desc -->
                                    </div><!-- end blog-item -->
                                </div><!-- end col -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><!-- end content -->
        </div><!-- end row -->
    </section>
{% endblock body %}