{% extends 'base.html' %}

{% block body %}

    <section class="section page-banner" style="background: url('{{ contact_utils.contact_banner.url }}') repeat-x center center">
        <div class="container clearfix" style="min-height: 75px">
        </div>
    </section>

    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                            <div class="col-md-12">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Nom">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Téléphone">
                                <input type="text" name="subject" id="subject" class="form-control"
                                       placeholder="Sujet">
                                <textarea class="form-control" name="comments" id="comments" rows="6"
                                          placeholder="Votre message"></textarea>
                                <button type="submit" value="SEND" id="submit" class="btn btn-primary"> Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div><!-- end col -->

                <div class="col-md-5">
                    <div class="widget">
                            <p>Intéréssé par nos services ? Besoin d'une information ? Veuillez utiliser ce formulaire afin de nous contacter.</p>
                            <hr class="invis1">
                            <ul class="contact-details">
                                <li><i class="fa fa-link"></i> <a href="#">www.the-sharpness.com</a></li>
                                <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@the-sharpness.com">info@the-sharpness.com</a></li>
                            </ul>
                            <hr class="invis1">
                            <div class="copyrights-social">
                                <a href="https://www.facebook.com/SharpnessSuisse/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.facebook.com/SharpnessLausanne/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.facebook.com/SharpnessBarbier/"><i class="fa fa-facebook"></i></a>
                            </div><!-- end social -->
                        </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <div id="map-canvas" style="width: 100%;height: 520px;"></div>
{% endblock body %}