{% extends "base.html" %}

{% load static %}

{% block body %}
    <div class="first-slider">
        <div id="rev_slider_206_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="creative-freedom"
             style="background-color:#1E120E;padding:0px;">
            <div id="rev_slider_206_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.1RC">
                <ul>
                    {% for slider in sliders %}
                        {% if slider.picture %}
                        <li data-index="rs-69{{ slider.order }}" data-transition="fadethroughdark" data-slotamount="default"
                            data-easein="default" data-easeout="default" data-masterspeed="2000"
                            data-thumb="{{ slide.picture.url }}" data-rotate="0" data-saveperformance="off"
                            data-title="{{ slider.name }}" data-param1="0{{ slider.order }}" data-description="">
                            <!-- MAIN IMAGE -->

                            <img src="{{ slider.picture.url }}" alt="" data-bgposition="center center"
                                 data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg"
                                 data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-tobggroup"
                                 id="slide-690-layer-1"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;"
                                 data-start="150"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 style="z-index: 5;background-color:rgba(18, 12, 20, 0.4);border-color:rgba(0, 0, 0, 0);">
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 id="slide-690-layer-4"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-178','-178','-168','-141']"
                                 data-width="1"
                                 data-height="100"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="y:[100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1500"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 style="z-index: 6;background-color:#9f5539;border-color:rgba(0, 0, 0, 0);">
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Creative-SubTitle tp-resizeme rs-parallaxlevel-2"
                                 id="slide-690-layer-3"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-91','-91','-81','-64']"
                                 data-fontsize="['14','14','14','12']"
                                 data-lineheight="['14','14','14','12']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                                 data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-start="2350"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap;text-align:center;">{{ slider.subtitle }}
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption Creative-Title tp-resizeme rs-parallaxlevel-1"
                                 id="slide-690-layer-2"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['-10','-10','-10','-10']"
                                 data-fontsize="['70','70','50','40']"
                                 data-lineheight="['70','70','55','45']"
                                 data-width="['none','none','none','320']"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                                 data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-start="2550"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 8; white-space: nowrap;text-align:center;">{{ slider.title|safe }}
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-3"
                                 id="slide-690-layer-5"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-voffset="['137','137','119','100']"
                                 data-width="1"
                                 data-height="100"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="y:[-100%];s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="2900"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 style="z-index: 9;background-color:#9f5539;border-color:rgba(0, 0, 0, 0);">
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption Creative-Button rev-btn rs-parallaxlevel-15"
                                 id="slide-690-layer-6"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['694','611','689','540']"
                                 data-fontweight="['400','500','500','500']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                 data-style_hover="c:rgba(205, 176, 131, 1.00);bc:rgba(205, 176, 131, 1.00);cursor:pointer;"
                                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                                 data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;s:500;e:Power1.easeIn;s:500;e:Power1.easeIn;"
                                 data-start="3850"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-actions='[{"event":"click","action":"simplelink","target":"_self", "url":"{{ slider.link }}"}]'
                                 data-responsive_offset="on"
                                 data-responsive="off"

                                 style="z-index: 10; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                {{ slider.call_to_action.upper }}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>

    <section class="section lb">
        <div class="container">
            <div class="carrousel-row">
                {% for barbershop in barbershops %}
                    <div id="{{ barbershop.city.name|slice:":2"|lower }}" class="row first-wrapper description-row">
                        <div class="col-md-5 col-sm-12 col-xs-12 welcome-widget">
                            <div class="section-title text-left">
                                <h4>BIENVENUE</h4>
                                <h3>{{ barbershop.name|upper }}</h3>
                                <hr>
                            </div><!-- end title -->

                            <p>{{ barbershop.description }}</p>

                            <p><b>{{ barbershop.address }}</b><br/>
                                <b>{{ barbershop.code }} {{ barbershop.city.name }}</b></p>
                            {% for schedule in schedules %}
                                {% if schedule.barbershop.id == barbershop.id and schedule.day_id == today_id %}
                                    {% if time < schedule.closed_time and time > schedule.open_time and not schedule.is_closed %}
                                        <a href="tel:{{ barbershop.phone|cut:' ' }}" class="btn btn-primary"> Composer le
                                            numéro </a>
                                    {% else %}
                                        <a href="mailto:{{ barbershop.email }}" class="btn btn-primary"> Nous laisser vos
                                            coordonées </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div><!-- end col -->
                        <div class="col-md-4 col-sm-12 col-xs-12 m30">
                            <div class="row welcome-images">
                                <div class="col-md-12 col-md-12 col-xs-12 img-wrap wow fadeIn" data-wow-duration="1s"
                                     data-wow-delay="0.3s">
                                    <div class="entry">
                                        {% if barbershop.picture %}
                                        <img id="image_description" src="{{ barbershop.picture.url }}"
                                             alt="{{ barbershop.location.city|slice:":2"|lower }}"
                                             class="img-responsive">
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 m30">
                            <div class="section-title text-left">
                                <h4>{{ barbershop.phone }}</h4>
                                <h3>HORAIRES</h3>
                                <hr>
                            </div><!-- end title -->
                            <ul class="openinghours">
                                {% for schedule in barbershop.schedule_set.all %}
                                    <li>
                                        <span>{{ schedule.day|slice:":3"|upper }}</span>
                                        <small>
                                            {% if schedule.is_closed %}
                                                Fermé
                                            {% else %}
                                                {{ schedule.open_time|time:'G' }}h - {{ schedule.closed_time|time:'G' }}
                                                h
                                            {% endif %}
                                        </small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- end col -->
                    </div>
                {% endfor %}
            </div>
        </div><!-- /container -->
    </section><!-- end section -->

    <section class="section">
        {% include "barber_section.html" %}
    </section><!-- end section -->

    <section id="appointment" class="section nopadding lb">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 customsection hidden-sm hidden-xs">
                    <div id="map-canvas" style="width:1000px; height:686px;"></div>
                </div>

                <div class="col-md-7 col-sm-12">
                    <div class="box-feature-full clearfix">
                        <div class="container">
                            <div class="section-title text-left">
                                <h4>Appelez-Nous</h4>
                                <h3>Prendre Rendez-vous</h3>
                                <hr>
                            </div>
                        </div>
                        <div class="appoform-wrapper">
                            <div class="row appoform">
                                {% for barbershop in barbershops %}
                                    {% if forloop.counter < 2 %}
                                        <div class="col-md-6">
                                            <div class="barbershop-desc">
                                                <small>{{ barbershop.phone }}</small>
                                                <h5>{{ barbershop.name }}</h5>
                                                <p>{{ barbershop.address }}<br/>{{ barbershop.code }} {{ barbershop.city.name|title }}</p>
                                                {% for schedule in schedules %}
                                                    {% if schedule.barbershop.id == barbershop.id and schedule.day_id == today_id %}
                                                        <p>Horaire du jour : {% if schedule.is_closed %} fermé {% else %}
                                                            {{ schedule.open_time|time:'G' }}h -
                                                            {{ schedule.closed_time|time:'G' }}h</p>{% endif %}
                                                        {% if time < schedule.closed_time and time > schedule.open_time and not schedule.is_closed %}
                                                            <button onclick="location.href='tel:{{ barbershop.phone|cut:' ' }}';"
                                                                    class="btn btn-primary btn-block"> Composer le numéro
                                                            </button>
                                                        {% else %}
                                                            <button
                                                                    onclick="location.href='mailto:{{ barbershop.email }}?subject=(SITE) Merci de me rappeler !&body=Merci de spécifier votre Nom, Prénom et numéro de téléphone';"
                                                                    class="btn btn-primary btn-block"> Nous laisser vos coordonées</button>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-md-6">
                                            <div class="barbershop-desc">
                                                <small>{{ barbershop.phone }}</small>
                                                <h5>{{ barbershop.name }}</h5>
                                                <p>{{ barbershop.address }}<br/>{{ barbershop.code }} {{ barbershop.city.name|title }}</p>
                                                {% for schedule in schedules %}
                                                    {% if schedule.barbershop.id == barbershop.id and schedule.day_id == today_id %}
                                                        <p>Horaire du jour : {% if schedule.is_closed %} fermé {% else %}
                                                            {{ schedule.open_time|time:'G' }}h -
                                                            {{ schedule.closed_time|time:'G' }}h</p>{% endif %}
                                                        {% if time < schedule.closed_time and time > schedule.open_time and not schedule.is_closed %}
                                                            <button onclick="location.href='tel:{{ barbershop.phone|cut:' ' }}';"
                                                                    class="btn btn-primary btn-block"> Composer le numéro
                                                            </button>
                                                        {% else %}
                                                            <button
                                                                    onclick="location.href='mailto:{{ barbershop.email }}?subject=(SITE) Merci de me rappeler !&body=Merci de spécifier votre Nom, Prénom et numéro de téléphone';"
                                                                    class="btn btn-primary btn-block"> Nous laisser vos coordonées</button>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- end form-container -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- end section -->

    <section class="section">
        {% include "cuts_section.html" %}
    </section><!-- end section -->

    <section class="section nopadding lb" id="appointment-2">
        {% include "appointment_section.html" %}
    </section>

{% endblock body %}