{% block pricing_section %}
        <div class="container">
            <div class="section-title text-center">
                <h4>NOS FORMULES ET PRIX</h4>
                <h3>NOS PRIX</h3>
                <hr>
            </div>
            <!-- end title -->

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="pricing-box-01 clearfix wow fadeIn">
                        {% for formule in prices %}
                            {% if formule.column_id == 1 %}
                            <div class="eat-detail">
                                <h3>{{ formule.name }}</h3>
                                <hr>
                                <h4>{{ formule.description }}</h4>
                                <p>{{ formule.detail }}</p>
                                <span>{{ formule.price }}</span>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- end pricing-box -->
                </div>
                <!-- end col -->

                <div class="col-md-4 col-sm-12 m40">
                    <div class="pricing-box-01 clearfix wow fadeIn">
                        {% for formule in prices %}
                            {% if formule.column_id == 2 %}
                            <div class="eat-detail">
                                <h3>{{ formule.name }}</h3>
                                <hr>
                                <h4>{{ formule.description }}</h4>
                                <p>{{ formule.detail }}</p>
                                <span>{{ formule.price }}</span>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- end pricing-box -->
                </div>
                <!-- end col -->

                <div class="col-md-4 col-sm-12 m40">
                    <div class="pricing-box-01 clearfix wow fadeIn">
                        {% for formule in prices %}
                            {% if formule.column_id == 3 %}
                            <div class="eat-detail">
                                <h3>{{ formule.name }}</h3>
                                <hr>
                                <h4>{{ formule.description }}</h4>
                                <p>{{ formule.detail }}</p>
                                <span>{{ formule.price }}</span>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- end pricing-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div>
        <!-- end container -->
{% endblock pricing_section %}