# KIRBY CMS
# Handles content management
VITE_BASE_CMS_URL_PROD='http://localhost:8002'
VITE_BASE_CMS_URL_DEV='http://localhost:8002'

# EASYAPPOINTMENT
# Handles booking of appointments
VITE_BASE_EASYAPPOINTMENTS_URL_PROD='http://localhost:8003'
VITE_BASE_EASYAPPOINTMENTS_URL_DEV='http://localhost:8003'
