# KIRBY CMS
# Handles content management
VITE_BASE_CMS_URL_PROD='http://localhost:8002'
VITE_BASE_CMS_URL_DEV='http://localhost:8002'

# EASYAPPOINTMENT
# Handles booking of appointments
VITE_BASE_EASYAPPOINTMENTS_URL_PROD='http://localhost:8003'
VITE_BASE_EASYAPPOINTMENTS_URL_DEV='http://localhost:8003'
# Bearer Token for EasyAppointments API
VITE_BASE_EASYAPPOINTMENTS_API_TOKEN='d300fe76feb429c0089b06e6789d143b0044545ca76bea884f2d488a2f4db84b'
