VITE_BASE_CMS_URL_PROD='http://cms.forpro.mediumsans.studio/'
VITE_BASE_CMS_URL_DEV='http://localhost:1234/'
VITE_BASE_CALENDAR_URL_PROD='http://calendar.forpro.mediumsans.studio/'
VITE_BASE_CALENDAR_URL_DEV='http://localhost:8000/'
